// desktop

@media (min-width: 481px) {
  main {
    section {
      &.screenshots {
        figure {
          width: 20em;

          &:not(:first-child) {
            margin-left: 2em;
          }
        }
      }
    }
  }
}

// mobile

@media (max-width: 480px) {
  main {
    section {
      &.screenshots {
        flex-direction: column;

        figure {
          width: 100%;

          &:not(:first-child) {
            margin-top: 2em;
          }
        }
      }
    }
  }
}
