// fonts

@import url('https://rsms.me/inter/inter.css');

// variables

$color-primary: #ff5058;
$color-background: #fff;
$color-foreground: #111;

// reset

* {
  border-radius: 0;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: $color-primary;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }
}

body {
  background: $color-background;
  color: $color-foreground;
  margin: 0;
  font: normal 1em/1 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: #5dc3c4;
}

h1 {
  margin-top: 1em;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: top;
}

p {
  line-height: 1.4;
  margin: 1em 0;
}
